<a class="comicPreview" href="<%= url_for comic_path(comic) %>">
  <!-- <a href="#" class="comicPreviewDestroy">X</a> -->
  <div class="comicPreviewImage"></div>
  <div class="comicPrewiewName"><%= comic.name %></div>
</a>
