<div class="comicPreviews">
  <div class="logo"></div>
  <div class="comicPreviewsHeaders">
    <h1>Simple and fast way to create animated web-comics</h1>
    <h2>Version 0.0.1. You can create and even edit objects</h2>
  </div>

  <a class="comicPreviewNewComic"href="<%= new_comic_path %>">
    <%= image_tag("plus.svg") %>
    Create comic
  </a>
<%#= @comics.any? %>
  <%# if @comics.any? %>
    <%# @comics.each do |comic| %>
      <%#= render "comics/comicPreview", comic: comic %>
    <%# end %>
  <%# end %>
</div>
<div class="authors">
  <h2>Настя, Даша, Настюша, Саша. HSE DC'2020</h2>
</div>
