.resize {
  background:blue;
  border-radius:10px;
  border: 2px solid white;
  width:10px;
  height:10px;
  position:absolute;
  box-shadow: 0 0 0px black;
  -moz-user-select: none;

  // z-index: 2;
}

.resize.nw {
  top:-6px;
  left:-6px;
  right:auto;
  bottom:auto;
  cursor:nwse-resize;
}

.resize.n {
  top:-6px;
  left:calc(50% - 6px);
  right:auto;
  bottom:auto;
  cursor:ns-resize;
}
.resize.ne {
  top:-6px;
  left:auto;
  right:-6px;
  bottom:auto;
  cursor:nesw-resize;
}
.resize.w {
  top:calc(50% - 6px);
  left:-6px;
  right:auto;
  bottom:-6px;
  cursor:ew-resize;
}
.resize.e {
  top:calc(50% - 6px);
  left:auto;
  right:-6px;
  bottom:-6px;
  cursor:ew-resize;
}
.resize.sw {
  top:auto;
  left:-6px;
  right:auto;
  bottom:-6px;
  cursor:nesw-resize;
}
.resize.s {
  top:auto;
  left:calc(50% - 6px);
  right:-6px;
  bottom:-6px;
  cursor:ns-resize;
}
.resize.se {
  top:auto;
  left:auto;
  right:-6px;
  bottom:-6px;
  cursor:nwse-resize;
}
