.M_Image {
  position: absolute;
  border-style: solid;
  padding: 8px;

  font-size: 8px;
  // background-color: #eeeeee;
  background-size: cover;
  background-repeat: no-repeat;

  user-select: none;
}
