.M_LayerListItem {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  color: white;

  

  transition: .01s ease-in;

  &:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
  }
}

.selected {
  background-color: rgba(0, 0, 0, .3);
}
