.O_ComicsArtbord {
  // position: fixed;
  position: relative;
  // top: 0;
  // left: 240px;
  // width: calc(100% - 240px);
  flex-grow: 1;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
