.DataEditor {
  .DataEditorHeader {
    height: 28px;
    background: #232537;
    padding: 0 10px;

    font-family: AvenirNext-Medium;
    font-size: 12px;
    line-height: 28px;
    color: #FFFFFF;
    letter-spacing: 0;
  }
}
